@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


body {
  background: linear-gradient(135deg, #050329, #030214, #00001f);
  min-height: 100vh;
  margin: 0;
  color: white;
  font-family: "Rajdhani", sans-serif;
}

@layer utilities {
  .bg-custom-gradient {
    background: linear-gradient(135deg, #070333, #06041c, #00003d);
  }
}

@layer utilities {
  .game-card {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping */
  }
  
  .game-card::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }
}
