@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

body {
  background: linear-gradient(135deg, #09071d, #0b092d, #03033a);
  min-height: 100vh;
  margin: 0;
  color: white;
  font-family: "Rajdhani", sans-serif;
}
